body{
    font-family: 'poppins', sans-serif;
    font-size: 14px;
    background-color:rgb(157, 89, 224);
    color: #666;
}
img#Mylogo{
    height: 60px;
}
.navbar{
    align-items: flex-end ;
     justify-content: flex-end;  
}

.login-container{
    height: 100vh;
    width: 100%;
}
.navbar {
    background-color:rgb(138, 34, 138);
}
.login-form{
    border: 1px solid white;
    color:white;
   background-color:rgb(185, 146, 226) ;
   max-width: 100%;
    width: 450px;
    padding: 15px;
    margin:auto;
}  
.form-control{
    font-size: 15px;
    min-height: 48px;
    font-weight: 500;
}
.login-form a{
    color: white;
}
.btn-primary{
border-color: grey;    
background-color: grey;
color: white;
}