img#Mylogo{
    height: 55px;
}


body{
    background-color: rebeccapurple;
}
div.card{
width: 20rem;
background-color: rebeccapurple;
color: white;
border: none;
}
div.jumbotron{
    color:rebeccapurple;
    background-color:white ;
}
img.carousel-item{
    height: 400;
}
.carousel-item{
    height: 400px;
    min-width: 400px;
}
.d-blockw-100{
   border-block-width: 400px;
}
h2{
    text-align: center;
}